<div class="card ">
  <div class="card-content">
    <span class="card-title">Agregar Usuario</span>
    <div class="row">
      <form class="col s12" [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="input-field col s12">
            <input formControlName="nombre" id="nombre" type="text" placeholder="nombre del usuario" class="validate">
            <label for="nombre">Nombre</label>
            <p class="red-text" *ngIf="usuarioForm.controls.nombre.invalid">
              El campo es obligatorio.
            </p>
          </div>
          <div class="input-field col s12">
            <input formControlName="correo" id="correo" type="text" placeholder="example@example.com" class="validate">
            <label for="correo">Correo</label>
            <p class="red-text" *ngIf="usuarioForm.controls.correo.invalid">
              El campo es obligatorio.
            </p>
          </div>
          <label>Browser Select</label>
          <select formControlName="opcion" class="browser-default">
            <option value="" disabled selected>Choose your option</option>
            <option value="ADMINISTRADOR">ADMINISTRADOR</option>
            <option value="ANALISTA">ANALISTA</option>
          </select>
          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input formControlName="contrasenia" id="contrasenia" type="password" class="validate">
            <label for="contrasenia">Contraseña</label>
            <p class="red-text" *ngIf="usuarioForm.controls.contrasenia.invalid">
              El campo es obligatorio.
            </p>
          </div>
        </div>
        <div class="divider"></div>
        <div class="section">
          <button class="btn " *ngIf="usuarioForm.invalid" disabled type="submit">ENVIAR</button>
          <button class="btn " *ngIf="!usuarioForm.invalid" type="submit">ENVIAR</button>
          <button class="btn " (click)="onCancel()" type="reset">CANCELAR</button>
        </div>

      </form>


    </div>
  </div>
</div>