<div class="row">
        <div class="card col s12 m6 l6">
          <div class="card-content">
            <span class="card-title">Editar evento</span>
            <div class="row">
              <form class="col s12" materialize [formGroup]="eventoForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea1" 
                                formControlName="descripcion" 
                                class="materialize-textarea" 
                                materialize="characterCounter" 
                                [attr.length]="maxLength">
                            </textarea>
                            <label for="textarea1">
                                Textarea
                            </label>
                            <p class="red-text" 
                                *ngIf="eventoForm.controls.descripcion.invalid">
                                El campo es obligatorio. 
                                Debe contener por lo menos 50 Caracteres.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="input-field col s12">
                    <input formControlName="actor" 
                        id="actor" 
                        type="text" 
                        placeholder="Actor" 
                        class="validate">
                    <label for="actor">Actor</label>
                    <p class="red-text" 
                        *ngIf="eventoForm.controls.actor.invalid">
                        El campo es obligatorio. 
                        Debe contener por lo menos 1 carácter.
                    </p>
                </div>
                <div class="input-field col s12">
                        <input formControlName="grupoDeDatos" 
                            id="grupoDeDatos" 
                            type="text" 
                            placeholder="Grupo de datos" 
                            class="validate">
                        <label for="grupoDeDatos">Grupo de datos</label>
                        <p class="red-text" 
                            *ngIf="eventoForm.controls.grupoDeDatos.invalid">
                            El campo es obligatorio. 
                            Debe contener por lo menos 1 carácter.
                        </p>
                    </div>
                <div class="input-field col s12">
                    <input formControlName="posicion" 
                        id="posicion"
                        type="text" 
                        placeholder="Posicion" 
                        class="validate">
                    <label for="posicion">Posicion</label>
                    <p class="red-text" 
                    *ngIf="eventoForm.controls.posicion.invalid">
                        El campo es obligatorio. 
                        Debe ser entre 0 y {{eventoServ.listaEventos.length}}
                    </p>
                </div>      
                <div class="divider"></div>
                <div class="section center">
                  <div class="row" style="margin-top:7%;">
                    <div class="col s8">
                      <button class="btn " *ngIf="eventoForm.invalid" disabled type="submit">ENVIAR</button>
                      <button class="btn " *ngIf="!eventoForm.invalid" type="submit">ENVIAR</button>
                      <button class="btn " (click)="onCancel()" type="reset">CANCELAR</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>