<div class="row">
  <div class="card col s12 m6 l6">
    <div class="card-content">
      <span class="card-title">Agregar Proyecto</span>
      <div class="row">
        <form class="col s12" materialize [formGroup]="proyectoForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="input-field col s12">
              <input formControlName="nombre" id="nombre" type="text" placeholder="nombre del usuario" class="validate">
              <label for="nombre">Nombre</label>
              <p class="red-text" *ngIf="proyectoForm.controls.nombre.invalid">
                El campo es obligatorio. Debe contener por lo menos 3 caracteres.
              </p>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea id="textarea1" formControlName="Descripcion" class="materialize-textarea" materialize="characterCounter" [attr.length]="maxLength"
                  [disabled]="isDisabled?true:null"></textarea>
                <label for="textarea1">Descripcion</label>
                <p class="red-text" *ngIf="proyectoForm.controls.Descripcion.invalid">
                  El campo es obligatorio. Debe contener por lo menos 10 Caracteres.
                </p>
              </div>
            </div>
            <div class="input-field col s12">
              <input formControlName="cliente" id="cliente" type="text" placeholder="nombre del cliente " class="validate">
              <label for="cliente">Cliente</label>
              <p class="red-text" *ngIf="proyectoForm.controls.cliente.invalid">
                El campo es obligatorio.
              </p>
            </div>
            <div class="col s12 m6 l6">

              <label for="fechaInicio">Fecha de Inicio</label>
              <input id="fechaInicio" name="fechaInicio" formControlName="fechaInicio" materialize="pickadate" [materializeParams]="[{format: 'dd/mm/yyyy'}]"
                type="text" />
            </div>

            <div class="col s12 m6 l6">

              <label for="fechaFin">Fecha de Fin del Proyecto</label>
              <input id="fechaFin" name="fechaFin" formControlName="fechaFin" materialize="pickadate" [materializeParams]="[{format: 'dd/mm/yyyy'}]"
                type="text" />
            </div>
          </div>
          <div class="divider"></div>
          <div class="section">

          </div>

          <div class="row" style="margin-top:7%;">
            <div class="col s8">
              <button class="btn " *ngIf="proyectoForm.invalid" disabled type="submit">ENVIAR</button>
              <button class="btn " *ngIf="!proyectoForm.invalid" type="submit">ENVIAR</button>
              <button class="btn " (click)="onCancel()" type="reset">CANCELAR</button>

            </div>
            <div class="col s2 offset-s2">
              <a class="btn-floating btn-large waves-effect waves-light red tooltipped " data-position="bottom" data-delay="10" data-tooltip="Agregar Usuarios">
                <!--  <i class="material-icons tooltip" (click)="openModal()">add</i> -->
                <i class="fas fa-user-plus" (click)="openModal()"></i>

              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>


<div id="modal1" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>ALERTA</h4>
    <span class="card-title">Selecionar Usuarios Encargados del Proyecto</span>
      <div>
        <p *ngFor="let opcion of opciones" >
          <input type="checkbox" id="{{opcion.usuario.nombre}}"  (click)="change($event, opcion)"  />
          <label for="{{opcion.usuario.nombre}}">{{opcion.usuario.nombre}}</label>
        </p>
      </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Cancelar</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="aceptar()">Aceptar</a>
  </div>
</div>
