<h3>Proyectos</h3>
<br>
<br>
<br>
<ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
  <li *ngFor="let proyecto of proyectos">
    <div *ngIf="esImportante(proyecto)" class="collapsible-header red-text">
      <i class="material-icons">assignment_late</i>{{proyecto.nombre}}</div>
    <div *ngIf="!esImportante(proyecto)" class="collapsible-header green-text">
      <i class="material-icons">assignment_turned_in</i>{{proyecto.nombre}}</div>
    <div class="collapsible-body row">
      <span style="font-size: 18px; font-weight: bold;">Nombre del Proyecto : {{proyecto.nombre}}</span>
      <p>
        <span style="font-weight: bold;">Descripcion :</span> {{proyecto.Descripcion}}</p>
      <p>
        <span style="font-weight: bold;">Nombre del cliente:</span> {{proyecto.cliente}}</p>

      <p>
        <span  style="font-weight: bold; color: brown;">Fecha de cierre:</span> {{proyecto.fechaFin}}</p>

      <div materialize class="col s2 offset-s9">
        <div class="fixed-action-btn horizontal " style="position: relative;">
          <a id="menu" class="btn-floating btn-large brown">
            <i class="material-icons">menu</i>
          </a>
          <ul>
            <li>
              <a materialize="tooltip" class="btn-floating waves-effect waves-light deep-purple tooltipped " data-position="top" data-delay="10"
                data-tooltip="Caso De Uso">
                <i class="far fa-address-card" (click)="crearCasoUso(proyecto)"> </i>
              </a>
            </li>
            <li>
              <a materialize="tooltip" class="btn-floating waves-effect waves-light black tooltipped " data-position="top" data-delay="10"
                data-tooltip="Editar Proyectos">
                <i class="fas fa-pencil-alt" (click)="onEdit(proyecto)"></i>
              </a>
            </li>
            <li>
              <a materialize="tooltip" class="btn-floating waves-effect waves-light red tooltipped " data-position="top" data-delay="10"
                data-tooltip="Eliminar Proyecto">
                <i class="fas fa-trash" (click)="openModal(proyecto)"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </li>
</ul>
<div class="row" style="margin-top:7%;">
  <div class="col s6">
    <a class="waves-effect waves-light btn-large">
      <i class="material-icons left">find_in_page</i>Buscar</a>
  </div>
  <div materialize class="col s2 offset-s4">
    <a class="btn-floating btn-large waves-effect waves-light red ">
      <i class="material-icons" (click)=" onCreate()">add</i>
    </a>

  </div>

</div>

<!-- Modal Structure -->


<div id="modal1" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>ALERTA</h4>
    <p>Seguro que deseas eliminar el proyecto</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Cancelar</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="onDelete()">Aceptar</a>
  </div>
</div>