<nav>
  <div class="nav-wrapper  teal darken-1">
    <a *ngIf="usuarioLogueado.nombre != null" routerLink="/usuarios" class="brand-logo truncate" truncate>
      Administracion de Proyectos de Software</a>
    <a *ngIf="usuarioLogueado.nombre == null" routerLink="/" class="brand-logo truncate" truncate>
      Administracion de Proyectos de Software</a>
    <ul class="right hide-on-med-and-down">
      <li *ngIf="usuarioLogueado.nombre != null">
        <span style='padding-right: 3em'>
          <i class="material-icons left">supervisor_account</i>
          {{usuarioLogueado.nombre}}</span>
      </li>

      <li *ngIf="usuarioLogueado.nombre != null">
        <a (click)="logout()">
          <i class="material-icons left">power_settings_new</i>Salir</a>
      </li>
    </ul>
  </div>
</nav>

<div class="contenidoBody">
  <router-outlet></router-outlet>
</div>